/* Universal Selector */
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;

}

/* variable for colors */
:root {
    --yellow-color: #FFB30E;
    --white-color: #F9FAFD;
    --orange-color: #F17228;
    --gray-color: #616161;
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo a {
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button button {
    color: var(--yellow-color);
    border: none;
    padding: 10px 35px;
}

.fa-solid.fa-bars {
    color: var(--yellow-color);
}

/*  Hero Section */
.hero_section {
    background-color: var(--yellow-color);
}

.hero_section div {
    width: 45%;
    overflow: hidden;

}

.hero_section div img {
    width: 90%;
    position: relative;
    bottom: -30px;
    transition-duration: 0.6s;
    cursor: pointer;
}

.hero_section div img:hover {
    bottom: 20px;
}

.hero_section .left h1 {
    color: #F9FAFD;
    font-size: 55px;
    font-weight: 900;
}

.hero_section .left p {
    color: var(--gray-color);
}

.left .delivery {
    background-color: #FFFEFE;
    width: 90%;
}

.left .delivery .button {
    width: 100%;
}

.left .delivery button.click {
    color: var(--orange-color);
    font-size: 16px;
    background-color: #FDE9DE;
}

.left .input {
    width: 100%;
}

.left .input input {
    width: 65%;
    height: 40px;
    background-color: #F5F5F5;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 5px;

}

.input button {
    width: 30%;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
}

/* Offer Section */
.offer_section {
    padding: 100px 0;
}

.offer_section .cart .pic {
    width: 250px;
    position: relative;
}


.offer {
    background-color: var(--yellow-color);
    width: 50%;
    color: var(--white-color);
    align-items: center;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 15px;
}

.offer_name {
    font-size: 16px;
    width: 200px;
}

.offer p {
    margin: 0;
    margin-top: 10px;
    line-height: 70px;
    font-size: 50px;
}

/* Work section */
.work-section .work-cart {
    width: 250px;
}

/* App Installation */
.installation-section .features .text h2 {
    background: linear-gradient(50deg, #fb3c00, #ffb800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.installation-section .bg-image {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

/* Order Section */
.order-section .cart {
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 20px rgb(101, 101, 152);
    padding: 0;
}

.order-section .cart .left,
.order-section .cart .right {
    padding: 0;
}

.order-section .cart .right img {
    min-height: 380px;
}

.order-section .cart {
    display: flex;
    margin: 60px auto;
}

.order-section {
    padding-top: 100px;
}

.background {
    background-image: url(https://rjfoodies.netlify.app/assets/img/gallery/cta-two-bg.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 330px;
}

.order-section .background .text {
    width: 500px;
    margin: auto;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-section .background .text h2 {
    color: #FFFEFE;
    font-size: 45px;
    font-weight: bold;
}

.order-section .background .text button {
    border: none;
    background-color: #F17228;
    color: #FFFEFE;
    height: 40px;
    margin-top: 25px;
    width: 250px;
    font-weight: bold;
    border-radius: 5px;
}

/* ------------ Footer Section ----------- */
footer {
    background-color: #212121;
}

footer div div h3 {
    color: #FFFEFE;
    font-size: 18px;
    line-height: 40px;
}

footer div div {
    width: 200px;
    padding-bottom: 30px;
}

footer div div a {
    text-decoration: none;
    color: #FFFEFE;
    font-style: 14px;
    line-height: 40px;
}

footer div .social-media a {
    font-size: 20px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

footer div .social-media a:hover {
    color: #ffb800;
    font-size: 24px;
}

.line {
    height: 1px;
    background-color: #616161;
    width: 100%;
    margin-top: 20px;
}

.last-footer {
    height: 45px;
    font-size: 14px;
}

.last-footer p {
    color: #FFFEFE;
}

.last-footer p a {
    color: #FFFEFE;
    font-weight: bold;

}

/* ----------- Responsive for mediam Size ------------ */
@media screen and (max-width: 768px) {
    .hero_section {
        flex-direction: column-reverse;
    }

    .hero_section .left,
    .hero_section .right {
        width: 90%;
        margin: auto;
    }

    .hero_section .left h1 {
        font-size: 45px;
    }

    .delivery button {
        height: 40px;
        margin: auto;
        font-size: 15px;
        min-width: 100px;
        margin-top: 10px;
    }

    .delivery {
        margin-bottom: 50px;
    }

    /* App installation section */
    .installation-section .app .app-image {
        display: none;
    }

    .bg-image img {
        height: 200px;
    }

    /* Order Section  */
    .order-section .cart {
        flex-direction: column;
    }

    .order-section .left {
        order: 2;
    }

    .order-section .left p {
        margin-top: 10px;
    }

    .order-section .background .text {
        width: 300px;
    }

    .order-section .background .text h2 {
        font-size: 30px;
    }

    .order-section .background .text button {
        width: 190px;
        height: 40px;
        font-size: 15px;

    }
}

/* Responsivness for Mobile Devices  */
@media screen and (max-width: 576px) {

    .offer_section .cart .pic {
        width: 300px;
    }

    .offer_section .cart .pic p {
        width: 80%;
        /* text-align: center; */
        line-height: 60px;
        font-size: 35px;
    }

    /* Work section */
    .work-section .work-cart {
        width: 300px;
    }

    footer div div {
        width: 120px;
    }

    /* order sectoin */
    .order-section .cart .right img {
        min-width: 150px;
    }

    .order-section .cart .left p {
        font-size: 14px;
        margin-top: 0;
    }

    .order-section .cart .left button {
        font-size: 13px;
    }

    .last-footer {
        display: flex;
        justify-content: center;
        gap: 5px;
        text-align: center;
    }

    .last-footer p {
        font-size: 10px;
        text-align: center;
    }
}